body{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #333;
	line-height: 1.6;
}

*,
*:before,
*:after{
	box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
}

.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;

}

.intro{
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 100%;
	height: 100vh;
	background: url(../images/intro2.jpg) center no-repeat;
	background-size: cover;
}	


.intro_inner{

	width: 100%;
	max-width: 880px;
	margin: 0 auto;
	text-align: center;

}


.intro_title{
/*	color: #FF69B4;
	font-size: 150px;
	font-weight: 700;*/
/*	text-transform: uppercase;*/
	line-height: 1; 



  color: #fff;
  font-size: 150px;
  font-weight: 700;
  animation: blur .75s ease-out infinite;
  text-shadow: 0px 0px 20px #ffd700 , 0px 0px 7px #ffd700 ;
}

@keyframes blur {
  from {
    text-shadow:0px 0px 30px #ffd700 ,
      0px 0px 10px #ffd700 , 
      0px 0px 25px #ffd700 ,
      0px 0px 25px #ffd700 ,
      0px 0px 25px #ffd700 ,
      0px 0px 25px #ffd700 ,
      0px 0px 25px #FF69B4,
      0px 0px 25px #FF69B4,
      0px 0px 50px #FF69B4,
      0px 0px 50px #FF69B4,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;
      }
  }


.intro_title:after{
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background-color: #FF69B4;
	margin: 50px auto;
	}

.intro_suptitle{
	font-family: 'Kaushan Script', cursive;
	color: #FF69B4;
	font-size: 72px;
	margin-bottom: 20px;

  animation: blur .75s ease-out infinite;
  text-shadow: 0px 0px 20px #ffd700 , 0px 0px 7px #ffd700 ;
}

@keyframes blur {
  from {
    text-shadow:0px 0px 30px #ffd700 ,
      0px 0px 10px #ffd700 , 
      0px 0px 25px #ffd700 ,
      0px 0px 25px #ffd700 ,
      0px 0px 25px #ffd700 ,
      0px 0px 25px #ffd700 ,
      0px 0px 25px #FF69B4,
      0px 0px 25px #FF69B4,
      0px 0px 50px #FF69B4,
      0px 0px 50px #FF69B4,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;
      }
  }




.header{
	padding-top: 30px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.header_inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_logo{
	font-size: 30px;
	font-weight: 700;
	color: #FF69B4;
}

.nav{
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
}

.nav_link{
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
	position: relative;
	color: #FF69B4;
	text-decoration: none;
	transition: color 0.2s linear;
}



.nav_link:after{
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	background-color: red;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	opacity: 0;
	transition: opacity 0.2s linear;


}

.nav_link:hover{
	color: red;
}

.nav_link:hover:after{
	opacity: 1;

}

.btn{
	display: inline-block;
	vertical-align: top;
	padding: 6px 30px;
	border: 3px solid #FF69B4;
	border-radius: 8px;
	color: #FF69B4;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
	transition: background 0.2s linear, color 0.2s linear;
	margin-bottom: 60px;

}

.btn:hover{
	background: #FF69B4;
	color: #333;
}

.slider{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
	/*background-color: red;
	*/
}

.slider_inner{
	display: flex;
	justify-content: space-between;

	
}


.slider_item{
	width: 23%;
	font-size: 18px;
	color: #FF69B4;
	text-transform: uppercase;
	padding: 20px 0;
	border-top: 3px solid #FF69B4;
	opacity: 0.5;
	position: relative;
}


.slider_item.active{
	opacity: 1;
}

.slider_item.active:before{
	content: "";
	display: block;
	width: 70px;
	height: 3px;
	position: absolute;
	top: -3px;
	left: 0;
	z-index: 1;
	background-color: #f38181;
}


.slider_number{
	font-size: 24px;
	font-weight: 700;
}




/*.area {
  text-align: center;
  font-size: 6.5em;
  color: #fff;
  font-size: 150px;
	font-weight: 700;
  letter-spacing: -7px;
  font-weight: 700;
  text-transform: uppercase;
  animation: blur .75s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}

@keyframes blur {
  from {
    text-shadow:0px 0px 10px #fff,
      0px 0px 10px #FF69B4, 
      0px 0px 25px #FF69B4,
      0px 0px 25px #FF69B4,
      0px 0px 25px #FF69B4,
      0px 0px 25px #FF69B4,
      0px 0px 25px #FF69B4,
      0px 0px 25px #FF69B4,
      0px 0px 50px #FF69B4,
      0px 0px 50px #FF69B4,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;
      }}*/